:root {
    /* Light theme (default) */
    --foreground: lime;
    --altbackground: #1a1a1a;
    --background: #252926;
    --hover: rgb(156, 236, 156);
}

[data-theme='dark'] {
    --foreground: #ffffff;
    --background: #1a1a1a;
    --hover: #333333;
}